.bio-arrow {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 10px;
    height: 16px;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.close {
    left: 1px;
    transform: rotate(180deg);
}