.nav-plus{
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #25272A;
    cursor: pointer;
    justify-self: self-end;
    margin-top: auto;

    &:focus, &:hover, &:active {
        opacity: 0.7;
    }

    
}