.channels-item{
    min-width: 215px;
    padding: 9px 13px;
    border-radius: 5px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B5B5B5;
    background-color: inherit;
    cursor: pointer;

    &:focus, &:hover, &:active {
        color: #FFFFFF;
        font-weight: 700;
        background-color: #B5B5B5;
        position: relative;
        width: 110%;
        left: -5%;
        right: -5%;
        padding-left: calc(13px + 5%);
    }
    
}