.nomad{
  display: flex;
  flex-wrap: wrap;
  min-width: 260px;
  padding-top: 25px;
  background-color: #25272A;
  opacity: 0.75;

  &-title, &-treads, &-channel, &-friends{
    &-wrap{
      display: flex !important;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  }

  &-treads{
    &-wrap{
      width: 40%;
    }
  }

  &-channel, &-friends{
    &-wrap{
      margin-bottom: 10px;
      font-family: 'Lato';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: #919191;
    }
  }

  &__title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
  }

  &__setting__icon{
    cursor: pointer;
  }

  &__treads{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B5B5B5;
  }
}

.channel{

  &-wrapper{
  margin-bottom: 30px;
  overflow-y: scroll;
  max-height: 40vh;

    &::-webkit-scrollbar {
      width: 6px;
      background-color: inherit;
      }

    &::-webkit-scrollbar-thumb{
      width: 6px;
      height: 140px;
      background-color: #B5B5B5;
      border-radius: 12px;
    }
  }
}

.friends{

  &-wrapper{
  overflow-y: scroll;

  &::-webkit-scrollbar {
      width: 6px;
      background-color: inherit;
      }

    &::-webkit-scrollbar-thumb{
      width: 6px;
      height: 140px;
      background-color: #B5B5B5;
      border-radius: 12px;
    }
  }
}

@media screen and ( max-height: 700px ) {
  .friends{

    &-wrapper{
    height: 25vh;
    }
  }
}

@media screen and ( max-height: 580px ) {
  .nomad{
    padding-top: 10px;

    &__title{
          font-size: 16px;
          line-height: 20px;
    }

    &-treads{

      &-wrap{
        display: none !important;
      }
    }
  }

}

.channel{

      &-wrapper{
        max-height: 30vh;

        &::-webkit-scrollbar-thumb{
            width: 4px;
            height: 50px;
          }
      }

  }

.friends{

      &-wrapper{

        &::-webkit-scrollbar-thumb{
            width: 4px;
            height: 50px;
          }
      }

  }