.chat {

  &__footer {
    padding: 25px;
    border-top: 1px solid #A4A4A4;

    &__wrap{
      position: relative;
    }

    &__message {
      width: 100%;
      padding: 10px 30px 10px 50px;
      border-radius: 5px;
      border: 0.5px solid rgba(0, 0, 0, 0.24);
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
      cursor: pointer;

      &::placeholder {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #A4A4A4;
      }

      &:hover,
      &:active,
      &:focus {
        outline: none;
      }
    }

    &__img{
      position: absolute;
      top: 10px;

      &_file{
        left: 5px;
      }

      &_voice {
        left: 25px;
      }

      &_smile {
        right: 10px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {

  .chat {

    &__footer {
      &__message {
        padding-left: 45px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {

  .chat {

    &__footer {
      &__message {
        padding-left: 40px;
      }
    }
  }
}

@media screen and (max-width: 920px) {

  .chat {

    &__footer {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

@media screen and (max-width: 700px) {

  .chat {

    &__footer {
      &__message {
        padding-left: 45px;
      }
    }
  }
}

@media screen and (max-width: 420px) {

  .chat {

    &__footer {

      &__img {

        &_voice{
          left: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {

  .chat {

    &__footer {
      &__message {
        padding-left: 35px;
      }
    }
  }
}