.message{
  display: flex;
  margin-top: 15px;

  &__avatar{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin-right: 12px;
  }

  &__name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    margin-right: 8px;
  }

  &__date{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #8D8D8D;
  }

  &__text{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    margin-top: 3px;
    margin-bottom: 0;

    &_link, &_special, &_teg{
      color: #3577EF;
    }
  }
}

@media screen and ( max-width: 400px ){

  .message{

    &__text{

      img {
        width: 100%;
      }
    }
  }
}